<div class="card">
  <div
    class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
    data-mdb-ripple-color="light"
  >
    <img src="{{ './assets/' + book.imageLink }}" class="w-100" />
    <a [href]="book.link">
      <div class="mask">
        <div class="d-flex justify-content-start align-items-end h-100">
          <h5><span class="badge bg-dark ms-2">NEW</span></h5>
        </div>
      </div>
      <div class="hover-overlay">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </div>
    </a>
  </div>
  <div class="card-body">
    <a href="" class="text-reset">
      <h5 class="card-title mb-2">{{ book.title }}</h5>
    </a>
    <a href="" class="text-reset">
      <p>{{ book.author }}</p>
    </a>
    <h6 class="mb-3 price">${{ book.price }}</h6>
    <button *ngIf="!isInCart" class="add-to-cart-button" (click)="addToCart()">
      Add to Cart
    </button>

    <button
      *ngIf="isInCart"
      class="add-to-cart-button"
      (click)="removeFromCart()"
    >
      Remove from Cart
    </button>
  </div>
</div>
